In [2]:
import pandas as pd

In [5]:
data = pd.read_csv('/Users/minguinho/Downloads/데이콘/pandas 입문/Data/대한민국_주요_도시_인구수.csv') # 파일 불러오기

In [8]:
data.shape # 데이터 크기 나옴. 10행 2열

(10, 2)

In [9]:
# head(n) : 상위 n개의 열 출력. n의 default는 5다. 
data.head(3)

   도시      인구수
0  서울  9741381
1  부산  3416918
2  인천  2925967

In [11]:
# tail : 하위 n개의 열 출력. default는 5다.
data.tail(3)

   도시      인구수
7  울산  1147037
8  고양  1068641
9  용인  1061440

In [13]:
# info()요약된 정보 출력. 행렬 개수, 각 행의 이름, 자료형 등의 정보를 알 수 있음.
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   도시      10 non-null     object
 1   인구수     10 non-null     int64
dtypes: int64(1), object(1)
memory usage: 288.0+ bytes

In [14]:
# 특정 열 선택법 : DataFrame['컬럼'], DataFrame.컬럼 <- 두가지 방법.
data['도시']

0    서울
1    부산
2    인천
3    대구
4    대전
5    광주
6    수원
7    울산
8    고양
9    용인
Name: 도시, dtype: object

In [15]:
data.도시

0    서울
1    부산
2    인천
3    대구
4    대전
5    광주
6    수원
7    울산
8    고양
9    용인
Name: 도시, dtype: object