In [1]:
city = ['서울', '부산', '인천', '대구', '대전', '광주', '수원', '울산', '고양', '용인']
population = [9741381, 3416918, 2925967, 2453041, 1525849, 1496172, 1193894, 1147037, 1068641, 1061440]

In [2]:
import pandas as pd

In [3]:
# 데이터 프레임 생성
data = pd.DataFrame(columns=['도시', '인구수'], index=range(10)) # 열이 2개고 행이 10개인(range(10)) 데이터 프레임 생성. 여기에 데이터를 보관한다. 
data # 비어있는 데이터 프레임을 확인할 수 있다.

    도시  인구수
0  NaN  NaN
1  NaN  NaN
2  NaN  NaN
3  NaN  NaN
4  NaN  NaN
5  NaN  NaN
6  NaN  NaN
7  NaN  NaN
8  NaN  NaN
9  NaN  NaN

In [4]:
# 데이터 넣기
data['도시'] = city
data['인구수'] = population

In [5]:
data # 데이터가 들어간 것을 확인할 수 있다.

   도시      인구수
0  서울  9741381
1  부산  3416918
2  인천  2925967
3  대구  2453041
4  대전  1525849
5  광주  1496172
6  수원  1193894
7  울산  1147037
8  고양  1068641
9  용인  1061440

In [6]:
# 딕셔너리를 넣어 DataFrame 생성. 딕셔너리를 이용하면 직관적으로 내가 넣을 데이터를 확인할 수 있지 않을까 싶다. 
data_dict = {'도시':city, '인구수':population} # 이렇게 쉽게 확인할 수 있다. 각 리스트에 key가 붙는다. 
data = pd.DataFrame(data_dict) # 딕셔너리 -> DataFrame
data

   도시      인구수
0  서울  9741381
1  부산  3416918
2  인천  2925967
3  대구  2453041
4  대전  1525849
5  광주  1496172
6  수원  1193894
7  울산  1147037
8  고양  1068641
9  용인  1061440

In [8]:
# csv파일애 저장
data.to_csv('/Users/minguinho/Downloads/데이콘/pandas 입문/Data/data02.csv', index=True, header=True) # index, header 모두 기본값으로 생략해도 동일한 결과가 나옴
# index = 인덱스를 하나의 컬럼으로 추가할 것인가? header = 컬럼명을 저장할 것인가?
pd.read_csv('/Users/minguinho/Downloads/데이콘/pandas 입문/Data/data02.csv') # 인덱스 컬럼으로 unnamed : 0 이라는 컬럼이 추가되었다.

   Unnamed: 0  도시      인구수
0           0  서울  9741381
1           1  부산  3416918
2           2  인천  2925967
3           3  대구  2453041
4           4  대전  1525849
5           5  광주  1496172
6           6  수원  1193894
7           7  울산  1147037
8           8  고양  1068641
9           9  용인  1061440

In [10]:
data.to_csv('/Users/minguinho/Downloads/데이콘/pandas 입문/Data/data02.csv', index=True, header=False) # header = false로 한다.  
pd.read_csv('/Users/minguinho/Downloads/데이콘/pandas 입문/Data/data02.csv') # 컬럼 이름(도시, 인구수)가 없다는 사실을 알 수 있다. 
# 아 그러면 맨 왼쪽 0~8은 편의를 위해 보여주는 거구나. csv파일 안에 저장되어 있는 값이 아니다.

   0  서울  9741381
0  1  부산  3416918
1  2  인천  2925967
2  3  대구  2453041
3  4  대전  1525849
4  5  광주  1496172
5  6  수원  1193894
6  7  울산  1147037
7  8  고양  1068641
8  9  용인  1061440

In [11]:
data.to_csv('/Users/minguinho/Downloads/데이콘/pandas 입문/Data/data02.csv', index=False, header=False) # 둘다 False로 한다. 
pd.read_csv('/Users/minguinho/Downloads/데이콘/pandas 입문/Data/data02.csv') # 컬럼 이름(도시, 인구수)도 없고 인덱스도 없다는 사실을 알 수 있다. 생각해보니 일일이 확인할거 아니면 이렇게 하는게 좋지 않을까. 용량 아껴야지.
# 그리고 보니까 표시 유무만 체크하는거지 csv파일 안에 각 컬럼의 이름의 저장 유무를 체크하는게 아니다. 그러니 각 컬럼의 이름은 생성될 때부터 쭈욱 '도시', '인구수'다.

   서울  9741381
0  부산  3416918
1  인천  2925967
2  대구  2453041
3  대전  1525849
4  광주  1496172
5  수원  1193894
6  울산  1147037
7  고양  1068641
8  용인  1061440

In [12]:
data.to_csv('/Users/minguinho/Downloads/데이콘/pandas 입문/Data/data02.csv', index=False, header=True) # 각 컬럼의 이름을 볼 수 있게 한다. 
pd.read_csv('/Users/minguinho/Downloads/데이콘/pandas 입문/Data/data02.csv') # 도시, 인구수라는 컬럼 이름이 보인다는 사실을 알 수 있다.

   도시      인구수
0  서울  9741381
1  부산  3416918
2  인천  2925967
3  대구  2453041
4  대전  1525849
5  광주  1496172
6  수원  1193894
7  울산  1147037
8  고양  1068641
9  용인  1061440