In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('/Users/minguinho/Downloads/데이콘/pandas 입문/Data/data03.csv') 
data # 데이터 불러오기

    도시       인구수        남자        여자
0   서울   9741381   4757642   4984229
1   부산   3416918   1680933   1735985
2   인천   2925967   1472081   1453886
3   대구   2453041   1218326   1234715
4   대전   1525849    765718    760131
5   광주   1496172    745122    751050
6   수원   1193894    601097    592797
7   울산   1147037    589233    557804
8   고양   1068641    523803    544838
9   용인   1061440    526824    534617
10  총합  26030340  12880779  13150052

In [3]:
data['도시'].unique() # 컬럼의 고유값 리스트 반환. 위 경우에는 도시 이름들이 고유값이다.

array(['서울', '부산', '인천', '대구', '대전', '광주', '수원', '울산', '고양', '용인', '총합'],
      dtype=object)

In [4]:
data['도시'].value_counts() # 각 고유값이 나온 횟수 반환

수원    1
서울    1
광주    1
부산    1
인천    1
대구    1
고양    1
울산    1
대전    1
용인    1
총합    1
Name: 도시, dtype: int64

### 수치를 이용한 함수가 정말 많다. 
### sum()은 각 칼럼의 합계 반환, max()는 '각 컬럼'의 최대값 반환, idxmax()는 특정 컬럼의 최대값이 있는 인덱스 반환 
### min()은 각 컬럼의 최소값을 반환, idxmin()은 특정 컬럼의 최소값의 인덱스 반환
### mean()은 '각 칼럼'의 평균, median()은 각 컬럼의 중앙값 반환, var()는 각 칼럼의 분산 반환, std()는 각 칼럼의 표준편차를 반환한다. 여기서 중요하다고 볼 것은 '각 칼럼'에 대한 값들을 얻을 수 있는 함수들이랑 것.

In [11]:
df = data.iloc[:10, 1:] # 일부 데이터만 저장
df

       인구수       남자       여자
0  9741381  4757642  4984229
1  3416918  1680933  1735985
2  2925967  1472081  1453886
3  2453041  1218326  1234715
4  1525849   765718   760131
5  1496172   745122   751050
6  1193894   601097   592797
7  1147037   589233   557804
8  1068641   523803   544838
9  1061440   526824   534617

In [12]:
df.sum() # 힙친거 반환

인구수    26030340
남자     12880779
여자     13150052
dtype: int64

In [13]:
df.max()최대값 반환

인구수    9741381
남자     4757642
여자     4984229
dtype: int64

In [14]:
df['인구수'].idxmax() # '인구수' 기준으로 가장 큰 값을 가진 열의 인덱스

0

In [15]:
data.loc[df['인구수'].idxmax()]['도시'] # '인구수'기준 가장 큰 값을 가진 데이터의 열에 대한 '도시'값 출력

'서울'

In [16]:
df.min() # 최소값

인구수    1061440
남자      523803
여자      534617
dtype: int64

In [17]:
df['인구수'].idxmin() # '인구수' 컬럼 기준 가장 적은 값을 가진 데이터의 위치 반환

9

In [18]:
data.loc[df['인구수'].idxmin()]['도시'] # '인구수' 컬럼 기준 가장 적은 값을 가진 데이터의 열에 대해 '도시'값 반환 == 가장 사람이 적게 사는 지역 이름 출력

'용인'

In [19]:
df.mean() # 각 칼럼의 평균값 반환.

인구수    2603034.0
남자     1288077.9
여자     1315005.2
dtype: float64

In [20]:
df.median() # 각 칼럼의 중앙값 반환. 평균 =/ 중앙값

인구수    1511010.5
남자      755420.0
여자      755590.5
dtype: float64

In [21]:
df.var() # 각 칼럼의 분산 반환

인구수    6.996348e+12
남자     1.658060e+12
여자     1.843244e+12
dtype: float64

In [22]:
df.std() # 각 칼럼의 표준편차 반환

인구수    2.645061e+06
남자     1.287657e+06
여자     1.357661e+06
dtype: float64

In [44]:
save_data = pd.DataFrame(columns=['문제', '인구수', '남자', '여자'], index=range(7)) # 생성하고
save_data

    문제  인구수   남자   여자
0  NaN  NaN  NaN  NaN
1  NaN  NaN  NaN  NaN
2  NaN  NaN  NaN  NaN
3  NaN  NaN  NaN  NaN
4  NaN  NaN  NaN  NaN
5  NaN  NaN  NaN  NaN
6  NaN  NaN  NaN  NaN

In [45]:
# 칼럼 단위로 데이터를 더하자 
save_data['문제'] = ["총합", "최대값", "최소값", "평균값", "중앙값", "분산", "표준편차"]

In [48]:
save_data['인구수'] = [df.sum()['인구수'], df.max()['인구수'], df.min()['인구수'],df.mean()['인구수'],df.median()['인구수'],df.var()['인구수'],df.std()['인구수']]

In [53]:
save_data['남자'] = [df.sum()['남자'], df.max()['남자'], df.min()['남자'],df.mean()['남자'],df.median()['남자'],df.var()['남자'],df.std()['남자']] # 칼럼 단위로 더하니까 수월하게 진행할 수 있다. 왠만하면 칼럼 단위로 더하도록 하자. 
save_data['여자'] = [df.sum()['여자'], df.max()['여자'], df.min()['여자'],df.mean()['여자'],df.median()['여자'],df.var()['여자'],df.std()['여자']] # 여러 칼럼 단위로 한꺼번에 더할 수 있는 방법을 찾으면 어...그거 써야지. 

save_data

     문제           인구수            남자            여자
0    총합  2.603034e+07  1.288078e+07  1.315005e+07
1   최대값  9.741381e+06  4.757642e+06  4.984229e+06
2   최소값  1.061440e+06  5.238030e+05  5.346170e+05
3   평균값  2.603034e+06  1.288078e+06  1.315005e+06
4   중앙값  1.511010e+06  7.554200e+05  7.555905e+05
5    분산  6.996348e+12  1.658060e+12  1.843244e+12
6  표준편차  2.645061e+06  1.287657e+06  1.357661e+06

In [56]:
save_data.to_csv('/Users/minguinho/Downloads/데이콘/pandas 입문/Data/data05_submission.csv', index=False)

In [57]:
pd.read_csv('/Users/minguinho/Downloads/데이콘/pandas 입문/Data/data05_submission.csv')

     문제           인구수            남자            여자
0    총합  2.603034e+07  1.288078e+07  1.315005e+07
1   최대값  9.741381e+06  4.757642e+06  4.984229e+06
2   최소값  1.061440e+06  5.238030e+05  5.346170e+05
3   평균값  2.603034e+06  1.288078e+06  1.315005e+06
4   중앙값  1.511010e+06  7.554200e+05  7.555905e+05
5    분산  6.996348e+12  1.658060e+12  1.843244e+12
6  표준편차  2.645061e+06  1.287657e+06  1.357661e+06